<html>
    <head>
        <title>AutoTrader - Portfolio</title>
        <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/graphs.css') }}">
        <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/jeff.css') }}">
    </head>
    <body>
        <div class = 'headerbackground'>
            <h1 class = "Webpagename">FUNDING SECURED</h1>
            <div class = "tabs">
                <ul>
                    <li class = "li-1"><a href="/stocks">Choose Stocks</a></li>
                    <li class = "li-2"><a href="/portfolio">Stock Changes</a></li>
                    <li class = "li-2"><a href="/people">Stock Changes</a></li>
                    <!-- <h1 class="login-flex-element login-title">Please Log In</h1>
                    <form class="login-flex-element login-flex-2" action="" method="post">
                    <input class="login-flex-element login-field" type="text" placeholder="Username" name="username" value="{{
                        request.form.username }}">
                        <input class="login-flex-element login-field" type="password" placeholder="Password" name="password" value="{{
                        request.form.password }}">
                    <input class="login-flex-element login-submit-button btn btn-default" type="submit" value="Login">
                    </form> -->
                </ul>
            </div>
        </div>
        <div class='graphs-flex-main'>
            <p class='graphs-flex-headers'>AMGN</p>
            <div class='graphs-flex-horizontal'>
                <img class='graph' src="../static/img/AMGN_Average.PNG">
                <img class='graph' src="../static/img/AMGN_Predict.PNG">
            </div>
            <p class='graphs-flex-headers'></p>
            <p class='graphs-flex-headers'>BBBY</p>
            <div class='graphs-flex-horizontal'>
                <img class='graph' src="../static/img/BBBY_Average.PNG">
                <img class='graph' src="../static/img/BBBY_Predict.PNG">
            </div>
            <p class='graphs-flex-headers'></p>
            <p class='graphs-flex-headers'>TSLA</p>
            <div class='graphs-flex-horizontal'>
                <img class='graph' src="../static/img/TSLA_Average.PNG">
                <img class='graph' src="../static/img/TSLA_Predict.PNG">
            </div>
        </div>
    </body>
</html>