<html>
  <head>
    <title>AutoTrader</title>
    <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <div class="login-flex-1">
      <h1 class="login-flex-element login-title">Please Log In</h1>
      <form class="login-flex-element login-flex-2" action="" method="post">
        <input class="login-flex-element login-field" type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input class="login-flex-element login-field" type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="login-flex-element login-submit-button btn btn-default" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>