<html>
  <head>
    <title>Choose Your Stocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/jeff.css') }}">
  </head>
  <body>
    <div class = 'headerbackground'>
      <h1 class = "Webpagename">FUNDING SECURED</h1>

      <div class = "tabs">
      <ul>
        <li class = "li-1"><a href="/stocks">Pick Your Stocks</a></li>
        <li class = "li-2"><a href="/portfolio">Your Portfolio</a></li>
        <li class = "li-2"><a href="/stats">Stats</a></li>
      </ul>

    </div>
    </div>



    <div class = "bodyofpage">
      <h1>TEST</h1>
      {% for stock in stocks %}

            {{stock}}

      {% endfor %}

    </div>
  </body>
</html>
